#navigation{
  background-image: url("./pics/cover.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

#second{
	background-color: #FF69B4;
}

h1{
  font-size: 15px;
}

h2{
	color: #FF00FF;
}

i{
	color: white;
}

#contactme{
  background-image: url("./pics/reason.jpg");
  display: flex;
  justify-content: center;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}